<%
  var data = data0.data;
  for(var i=0;i<data.length;i++) {
    var value = data[i];

    var date = new Date(value.time * 1000);
    var format = 'y年m月d日 h:i';
    format = format.replace('y', date.getFullYear());
    format = format.replace('m', date.getMonth() + 1);
    format = format.replace('d', date.getDate());
    format = format.replace('h', date.getHours() >= 10 ? date.getHours() : "0" + date.getHours());
    format = format.replace('i', date.getMinutes() >= 10 ? date.getMinutes() : "0" + date.getMinutes());
%>
  <li>
    <span class="list_ico"></span>
    <span class="list_time"><%=format%></span>
    <span class="list_head">
      <%if(value.attack.logoUrl == "") {%>
        <img src="../../hzlsTest2016/img/default.png">
      <% } else {%>
        <img src=<%=value.attack.logoUrl%> alt="">
      <%}%>
      <%if(value.attack.teamName != ""){%>
      <span class="list_teamName" title=<%=value.attack.teamName%>><%=value.attack.teamName%></span><i class="braces">的</i>
      <%}%>
      <span class="list_nick" title=<%=value.attack.name%>><%=value.attack.name%></span>
    </span>
    <%if(value.kO == 1){%>
      <span class="list_challenge">成功击杀了</span>
    <%}else{%>
      <span class="list_challenge">攻击</span>
    <%}%>
    <span>
      <%if(value.guard.logoUrl == ""){%>
        <img src="../../hzlsTest2016/img/default.png">
      <%}else{%>
        <img src=<%=value.guard.logoUrl%> alt="">
      <%}%>
      <%if(value.guard.teamName != ""){%>
      <span class="list_teamName" title=<%=value.guard.teamName%>><%=value.guard.teamName%></span><i class="braces">的</i>
      <%}%>
      <span class="list_nick" title=<%=value.guard.name%>><%=value.guard.name%></span>
    </span>
    <%if(value.kO != 1){%>
      <span class="list_get">造成伤害</span>
      <span class="list_num"><%=value.lost%></span>
    <%}%>
    <%if(value.revenge == 1){%>
      <span class="list_icon"></span>
    <%}%>
    <%if(value.drinkBlood == 1){%>
      <span class="list_icon2"></span>
    <%}%>
    <%if(value.kO == 1){%>
      <span class="list_icon3"></span>
    <%}%>
  </li>
<%}%>