<%
  var data = data1.data;
  for(var i=0;i<data.length;i++) {
    var value = data[i];
%>
  <li>
    <span class="li_1"><i class="level<%=value.rank%>"><%=value.rank%></i></span>
    <span class="li_2"><%=value.teamName%></span>
    <span class="li_3"><%=value.score%></span>
    <span class="li_4">
      <%
        var subData = value.memberList;
        for(var j=0;j<subData.length;j++) {
          var theValue = subData[j];
      %>
        <%if(theValue.yY > 0){%>
          <a href="http://www.huya.com/<%=theValue.yY%>" target="_blank" title=<%=theValue.name%>>
            <span class="member">
              <%if(theValue.logoUrl == ""){%>
                <img src="../../hzlsTest2016/img/default.png">
              <%}else{%>
                <img src=<%=theValue.logoUrl%>>
              <%}%>
              <%if(theValue.hp <= 0){%>
                <i class="dead"></i>
              <%}else{%>
                <i class="live"></i>
                <%if(theValue.uid == value.leaderUid){%>
                  <i class="leader"></i>
                <%}%>
              <%}%>
            </span>
          </a>
        <%}else{%>
          <span class="member" title=<%=theValue.name%>>
            <%if(theValue.logoUrl == ""){%>
              <img src="../../hzlsTest2016/img/default.png" alt=<%=theValue.name%>>
            <%}else{%>
              <img src=<%=theValue.logoUrl%> alt=<%=theValue.name%>>
            <%}%>
            <%if(theValue.hp <= 0){%>
              <i class="dead"></i>
            <%}else{%>
              <%if(theValue.uid == value.leaderUid){%>
                <i class="leader"></i>
              <%}%>
            <%}%>
          </span>
        <%}%>
      <%}%>
    </span>
    <span class="li_5">
      <%if(value.operPriv == 0){%>
        <a class="join" data-teamId=<%=value.teamId%> href="javascript:void(0);">申请加入</a>&nbsp;|&nbsp;<a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
      <%}%>
      <%if(value.operPriv == 1){%>
        <span class="li_5_span">申请中</span>&nbsp;|&nbsp;<a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
      <%}%>
      <%if(value.operPriv == 2){%>
        <span class="li_5_span">已加入</span>&nbsp;|&nbsp;<a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
      <%}%>
      <%if(value.operPriv == 3){%>
        <span class="li_5_span">已满员</span>&nbsp;|&nbsp;<a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
      <%}%>
      <%if(value.operPriv == 4){%>
        <a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
      <%}%>
    </span>
  </li>
<%}%>