<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="edge" >
  <title>虎泽拉斯传说</title>
</head>
<link rel="stylesheet" href="../hzls/css/index.css">
<script src="http://assets.dwstatic.com/common/js/jquery.js"></script>
<script src="http://hd.huya.com/starRoad/js/lib/jquery.nicescroll.min.js"></script>
<body>
  <!-- header -->
  <script src="http://assets.dwstatic.com/amkit/p/duya/live2/js/header_lg.js" data-fixed="true"></script>
  <!-- 顶部栏 -->
  <div class="header_bg">
    <div class="header_main">
      <div class="nav">
        <a href="javascript:void(0);" id="lists" class="on"></a>
        <a href="javascript:void(0);" id="rule"></a>
      </div>
    </div>
  </div>
  <!-- 01战场永不停歇 -->
  <div class="list_bg">
    <div class="list_inner" style="padding-top: 243px;">
      <div class="list_main">
        <ul id="list_ul" style="margin-top:0;">
          <%
            var data = data0.data;
            for(var i=0;i<data.length;i++) {
              var value = data[i];

              var date = new Date(value.time * 1000);
              var format = 'y年m月d日 h:i';
              format = format.replace('y', date.getFullYear());
              format = format.replace('m', date.getMonth() + 1);
              format = format.replace('d', date.getDate());
              format = format.replace('h', date.getHours() >= 10 ? date.getHours() : "0" + date.getHours());
              format = format.replace('i', date.getMinutes() >= 10 ? date.getMinutes() : "0" + date.getMinutes());
          %>
            <li>
              <span class="list_ico"></span>
              <span class="list_time"><%=format%></span>
              <span class="list_head">
                <%if(value.attack.logoUrl == "") {%>
                  <img src="../hzls/img/default.png">
                <% } else {%>
                  <img src=<%=value.attack.logoUrl%> alt="">
                <%}%>
                <%if(value.attack.teamName != ""){%>
                <span class="list_teamName" title=<%=value.attack.teamName%>><%=value.attack.teamName%></span><i class="braces">的</i>
                <%}%>
                <span class="list_nick" title=<%=value.attack.name%>><%=value.attack.name%></span>
              </span>
              <%if(value.kO == 1){%>
                <span class="list_challenge">成功击杀了</span>
              <%}else{%>
                <span class="list_challenge">攻击</span>
              <%}%>
              <span>
                <%if(value.guard.logoUrl == ""){%>
                  <img src="../hzls/img/default.png">
                <%}else{%>
                  <img src=<%=value.guard.logoUrl%> alt="">
                <%}%>
                <%if(value.guard.teamName != ""){%>
                <span class="list_teamName" title=<%=value.guard.teamName%>><%=value.guard.teamName%></span><i class="braces">的</i>
                <%}%>
                <span class="list_nick" title=<%=value.guard.name%>><%=value.guard.name%></span>
              </span>
              <%if(value.kO != 1){%>
                <span class="list_get">造成伤害</span>
                <span class="list_num"><%=value.lost%></span>
              <%}%>
              <%if(value.revenge == 1){%>
                <span class="list_icon"></span>
              <%}%>
              <%if(value.drinkBlood == 1){%>
                <span class="list_icon2"></span>
              <%}%>
              <%if(value.kO == 1){%>
                <span class="list_icon3"></span>
              <%}%>
            </li>
          <%}%>
        </ul>
      </div>
    </div>
  </div>
  <!-- 02虎泽拉斯最强战队 -->
  <div class="show_bg">
    <div class="show_inner">
      <!-- 我的战队 -->
      <a id="my_team" href="javascript:void(0);">我的战队</a>
      <!-- 排名 -->
      <div class="team_top">
        <span class="top_1">排名</span>
        <span class="top_2">战队名称</span>
        <span class="top_3">战绩</span>
        <span class="top_4">战队成员</span>
        <span class="top_5">操作</span>
      </div>
      <div class="team_main">
        <ul id="team_result" class="result">
          <%
            var data = data1.data;
            for(var i=0;i<data.length;i++) {
              var value = data[i];
          %>
            <li>
              <span class="li_1"><i class="level<%=value.rank%>"><%=value.rank%></i></span>
              <span class="li_2"><%=value.teamName%></span>
              <span class="li_3"><%=value.score%></span>
              <span class="li_4">
                <%
                  var subData = value.memberList;
                  for(var j=0;j<subData.length;j++) {
                    var theValue = subData[j];
                %>
                  <%if(theValue.yY > 0){%>
                    <a href="http://www.huya.com/<%=theValue.yY%>" target="_blank" title=<%=theValue.name%>>
                      <span class="member">
                        <%if(theValue.logoUrl == ""){%>
                          <img src="../hzls/img/default.png">
                        <%}else{%>
                          <img src=<%=theValue.logoUrl%>>
                        <%}%>
                        <%if(theValue.hp <= 0){%>
                          <i class="dead"></i>
                        <%}else{%>
                          <i class="live"></i>
                          <%if(theValue.uid == value.leaderUid){%>
                            <i class="leader"></i>
                          <%}%>
                        <%}%>
                      </span>
                    </a>
                  <%}else{%>
                    <span class="member" title=<%=theValue.name%>>
                      <%if(theValue.logoUrl == ""){%>
                        <img src="../hzls/img/default.png" alt=<%=theValue.name%>>
                      <%}else{%>
                        <img src=<%=theValue.logoUrl%> alt=<%=theValue.name%>>
                      <%}%>
                      <%if(theValue.hp <= 0){%>
                        <i class="dead"></i>
                      <%}else{%>
                        <%if(theValue.uid == value.leaderUid){%>
                          <i class="leader"></i>
                        <%}%>
                      <%}%>
                    </span>
                  <%}%>
                <%}%>
              </span>
              <span class="li_5">
                <%if(value.operPriv == 0){%>
                  <a class="join" data-teamId=<%=value.teamId%> href="javascript:void(0);">申请加入</a>&nbsp;|&nbsp;<a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
                <%}%>
                <%if(value.operPriv == 1){%>
                  <span class="li_5_span">申请中</span>&nbsp;|&nbsp;<a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
                <%}%>
                <%if(value.operPriv == 2){%>
                  <span class="li_5_span">已加入</span>&nbsp;|&nbsp;<a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
                <%}%>
                <%if(value.operPriv == 3){%>
                  <span class="li_5_span">已满员</span>&nbsp;|&nbsp;<a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
                <%}%>
                <%if(value.operPriv == 4){%>
                  <a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
                <%}%>
              </span>
            </li>
          <%}%>
        </ul>
        <div class="page <%= data1.total < 8 ? 'hide': ''%>">
          <div id="strongest_team_page" class="pages">
            
          </div>
          <div class="page_go">
            <span>到第</span>
            <input type="text" id="page_num">
            <span>页</span>
            <a href="javascript:void(0);" id="sure_page">确定</a>
          </div>
        </div>
        <div class="search">
          <div class="search_l">
            <span><input type="checkbox" id="not_enough" data-queryCond="8">未满员</span>
            <span><input type="checkbox" id="not_tds" data-queryCond="1">缺投弹手</span>
            <span><input type="checkbox" id="not_mfs" data-queryCond="2">缺法师</span>
            <span><input type="checkbox" id="not_ms" data-queryCond="4">缺牧师</span>
          </div>
          <div class="search_r">
            <label for="">战队名称：
              <input type="text" id="team_name_input">
            </label>
            <label for="">队长名称：
              <input type="text" id="leader_name_input">
            </label>
            <a href="javascript:void(0);" id="sure_search">搜索</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 03虎泽拉斯最强英雄 -->
  <div class="hero_bg">
    <div class="hero_inner">
      <!-- 我的角色 -->
      <a id="my_role" href="javascript:void(0);">我的角色</a>
      <div class="hero_main">
        <div class="hero_top" id="must">
          <span class="top_1 hover" data-title="must_tds"></span>
          <span class="top_2" data-title="must_mfs"></span>
          <span class="top_3" data-title="must_ms"></span>
        </div>
        <!-- 标题 -->
        <div class="title_top">
          <span class="top_1">排名</span>
          <span class="top_2">主播</span>
          <span class="top_3">等级</span>
          <span class="top_4" id="role_technogy">攻击力</span>
          <span class="top_5">所属战队</span>
        </div>
        <div class="hero_over">
          <!-- 榜单: 最强投弹手-->
          <ul class="result" id="must_tds">
            <%
              var data = data2.data;
              for(var i=0;i<data.bomberRankList.length;i++) {
                var value = data.bomberRankList[i];
            %>
              <li>
                <span class="li_1"><i class="level<%=value.rank%>"><%=value.rank%></i></span>
                <span class="li_2">
                  <%if(value.yY > 0){%>
                    <a href="http://www.huya.com/<%value.yY%>" target="_blank">
                      <span class="member">
                        <%if(value.logoUrl == ""){%>
                          <img src="../hzls/img/default.png">
                        <%}else{%>
                          <img src="<%value.logoUrl%>">
                        <%}%>
                        <%if(value.dead == 1){%>
                          <i class="dead"></i>
                        <%}else{%>
                          <%if(value.captain == 1){%>
                            <i class="leader"></i>
                          <%}%>
                        <%}%>
                      </span>
                      <span class="nick" title=<%=value.name%>><%=value.name%></span>
                      <i class="live"></i>
                    </a>
                  <%}else{%>
                    <span class="member">
                      <%if(value.logoUrl == ""){%>
                        <img src="../hzls/img/default.png">
                      <%}else{%>
                        <img src="<%=value.logoUrl%>">
                      <%}%>
                      <%if(value.dead == 1){%>
                        <i class="dead"></i>
                      <%}else{%>
                        <%if(value.captain == 1){%>
                          <i class="leader"></i>
                        <%}%>
                      <%}%>
                    </span>
                    <span class="nick" title=<%=value.name%>><%=value.name%></span>
                  <%}%>
                </span>
                <span class="li_3"><%=value.level%></span>
                <span class="li_4"><%=value.exp%></span>
                <span class="li_5">
                  <span><%=value.teamName%></span>
                </span>
              </li>
            <%}%>
          </ul>
          <!-- 榜单: 最强魔法师 -->
          <ul class="all_list" id="must_mfs">
            <%
              var data = data2.data;
              for(var i=0;i<data.warlockRankList.length;i++) {
                var value = data.warlockRankList[i];
            %>
              <li>
                <span class="li_1"><i class="level<%=value.rank%>"><%=value.rank%></i></span>
                <span class="li_2">
                  <%if(value.yY > 0){%>
                    <a href="http://www.huya.com/<%=value.yY%>" target="_blank">
                      <span class="member">
                        <%if(value.logoUrl == ""){%>
                          <img src="img/default.png">
                        <%}else{%>
                          <img src="<%=value.logoUrl%>">
                        <%}%>
                        <%if(value.dead == 1){%>
                          <i class="dead"></i>
                        <%}else{%>
                          <%if(value.captain == 1){%>
                            <i class="leader"></i>
                          <%}%>
                        <%}%>
                      </span>
                      <span class="nick" title=<%=value.name%>><%=value.name%></span>
                      <i class="live"></i>
                    </a>
                  <%}else{%>
                    <span class="member">
                      <%if(value.logoUrl == ""){%>
                        <img src="img/default.png">
                      <%}else{%>
                        <img src="<%=value.logoUrl%>">
                      <%}%>
                      <%if(value.dead == 1){%>
                        <i class="dead"></i>
                      <%}else{%>
                        <%if(value.captain == 1){%>
                          <i class="leader"></i>
                        <%}%>
                      <%}%>
                    </span>
                    <span class="nick" title=<%=value.name%>><%=value.name%></span>
                  <%}%>
                </span>
                <span class="li_3"><%=value.level%></span>
                <span class="li_4"><%=value.exp%></span>
                <span class="li_5">
                  <span><%=value.teamName%></span>
                </span>
              </li>
            <%}%>
          </ul>
          <!-- 榜单: 最强牧师 -->
          <ul class="all_list" id="must_ms">
            <%
              var data = data2.data;
              for(var i=0;i<data.priestRankList.length;i++) {
                var value = data.priestRankList[i];
            %>
              <li>
                <span class="li_1"><i class="level<%=value.rank%>"><%=value.rank%></i></span>
                <span class="li_2">
                  <%if(value.yY > 0){%>
                    <a href="http://www.huya.com/<%=value.yY%>" target="_blank">
                      <span class="member">
                        <%if(value.logoUrl == ""){%>
                          <img src="../hzls/img/default.png">
                        <%}else{%>
                          <img src="<%=value.logoUrl%>">
                        <%}%>
                        <%if(value.dead == 1){%>
                          <i class="dead"></i>
                        <%}else{%>
                          <%if(value.captain == 1){%>
                            <i class="leader"></i>
                          <%}%>
                        <%}%>
                      </span>
                      <span class="nick" title=<%=value.name%>><%=value.name%></span>
                      <i class="live"></i>
                    </a>
                  <%}else{%>
                    <span class="member">
                      <%if(value.logoUrl == ""){%>
                        <img src="../hzls/img/default.png">
                      <%}else{%>
                        <img src="<%=value.logoUrl%>">
                      <%}%>
                      <%if(value.dead == 1){%>
                        <i class="dead"></i>
                      <%}else{%>
                        <%if(value.captain == 1){%>
                          <i class="leader"></i>
                        <%}%>
                      <%}%>
                    </span>
                    <span class="nick" title=<%=value.name%>><%=value.name%></span>
                  <%}%>
                </span>
                <span class="li_3"><%=value.level%></span>
                <span class="li_4"><%=value.exp%></span>
                <span class="li_5">
                  <span><%=value.teamName%></span>
                </span>
              </li>
            <%}%>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- 三个头像 -->
  <div class="head_bg">
    <div class="head_inner">
      <%
        var data = data3.data,
          attackMost = data.killTop,
          failMost = data.teamTop,
          racerMost = data.lostTop;
      %>
      <div class="head_img attackMost">
        <img class="head_up" src="<%=attackMost.logoUrl == '' ? '../hzls/img/default.png' : attackMost.logoUrl%>" alt="">
        <img class="head_down" src="../hzls/img/head_1.png" alt="">
        <span title="<%=attackMost.name%>"><%=attackMost.name%></span>
      </div>
      <div class="head_img failMost">
        <img class="head_up" src="<%=failMost.logoUrl == '' ? '../hzls/img/default.png' : failMost.logoUrl%>" alt="">
        <img class="head_down" src="../hzls/img/head_2.png" alt="">
        <span title="<%=failMost.name%>"><%=failMost.name%></span>
      </div>
      <div class="head_img racerMost">
        <img class="head_up" src="<%=racerMost.logoUrl == '' ? '../hzls/img/default.png' : racerMost.logoUrl%>" alt="">
        <img class="head_down" src="../hzls/img/head_3.png" alt="">
        <span title="<%=racerMost.name%>"><%=racerMost.name%></span>
      </div>
    </div>
  </div>

  <!-- 活动规则 -->
  <div id="rule_bg">
    <div id="rlue_word">
      <a id="look_detail" href="javascript:void(0);"></a>
    </div>
  </div>

  <!-- 我的战队弹窗 -->
  <div id="my_team_box" class="big_box">
    <div class="top">
      <div class="title">我的战队</div>
      <div class="close"></div>
    </div>
    <div class="main" id="my_team_result">
      
    </div>
    <script id="my_team_result_script" type="text/html">
      <div class="zhubo_nick">
        战队名称：<span class="nick_name">{{data.teamName}}</span>
        战绩：<span class="zhanji">{{data.score}}</span>
      </div>
      <div class="now_role">
        战队成员：<span class="role_name">{{data.memberList.length}}/3</span>
        排名：<span>{{data.rank}}</span>
        <span id="leader_hide">
          <a href="javascript:void(0);" id="dissolve" data-teamId={{data.teamId}}>解散战队</a>|
          <a href="javascript:void(0);" id="join_check" data-teamId={{data.teamId}}>入队审批</a>
          {{if data.inApplayNum > 0}}
            <i class="shenpi_i"></i>
          {{/if}}
        </span>
        <a href="javascript:void(0);" id="out_team" data-teamId={{data.teamId}}>退出战队</a>
      </div>
      <div class="team_member">
        <div class="team_top leader">
          <span>序号</span>
          <span>职位</span>
          <span class="team_nick_name">主播昵称</span>
          <span>角色</span>
          <span>等级</span>
          <span>属性</span>
          <span class="leader_span">操作</span>
        </div>
        <ul>
          {{each data.memberList as value i}}
          <li>
            <span>{{i+1}}</span>
            {{if value.uid == data.leaderUid}}
              <span>队长</span>
            {{else}}
              <span>队员</span>
            {{/if}}
            <span class="team_nick_name_img">
              {{if value.logoUrl == ""}}
                <img src="img/default.png" alt="">
              {{else}}
                <img src={{value.logoUrl}} alt="">
              {{/if}}
              <strong>{{value.name}}</strong>
            </span>
            {{if value.job == 1}}
              <span>投弹手</span>
            {{/if}}
            {{if value.job == 2}}
              <span>法师</span>
            {{/if}}
            {{if value.job == 3}}
              <span>牧师</span>
            {{/if}}
            <span>{{value.level}}</span>
            <span>{{value.allItem}}</span>
            <span class="leader_span">
              {{if value.uid == data.leaderUid}}
                <span>-</span>
              {{else}}
                <a class="ti_team" href="javascript:void(0);" data-teamId={{data.teamId}} data-koUid={{value.uid}}>踢出</a>
              {{/if}}
            </span>
          </li>
          {{/each}}
        </ul>
      </div>
    </script>
  </div>

  <script id="teamResult" type="text/template">
    <%
          var data = data1.data;
          for(var i=0;i<data.length;i++) {
            var value = data[i];
        %>
          <li>
            <span class="li_1"><i class="level<%=value.rank%>"><%=value.rank%></i></span>
            <span class="li_2"><%=value.teamName%></span>
            <span class="li_3"><%=value.score%></span>
            <span class="li_4">
              <%
                var subData = value.memberList;
                for(var j=0;j<subData.length;j++) {
                  var theValue = subData[j];
              %>
                <%if(theValue.yY > 0){%>
                  <a href="http://www.huya.com/<%=theValue.yY%>" target="_blank" title=<%=theValue.name%>>
                    <span class="member">
                      <%if(theValue.logoUrl == ""){%>
                        <img src="../hzls/img/default.png">
                      <%}else{%>
                        <img src=<%=theValue.logoUrl%>>
                      <%}%>
                      <%if(theValue.hp <= 0){%>
                        <i class="dead"></i>
                      <%}else{%>
                        <i class="live"></i>
                        <%if(theValue.uid == value.leaderUid){%>
                          <i class="leader"></i>
                        <%}%>
                      <%}%>
                    </span>
                  </a>
                <%}else{%>
                  <span class="member" title=<%=theValue.name%>>
                    <%if(theValue.logoUrl == ""){%>
                      <img src="../hzls/img/default.png" alt=<%=theValue.name%>>
                    <%}else{%>
                      <img src=<%=theValue.logoUrl%> alt=<%=theValue.name%>>
                    <%}%>
                    <%if(theValue.hp <= 0){%>
                      <i class="dead"></i>
                    <%}else{%>
                      <%if(theValue.uid == value.leaderUid){%>
                        <i class="leader"></i>
                      <%}%>
                    <%}%>
                  </span>
                <%}%>
              <%}%>
            </span>
            <span class="li_5">
              <%if(value.operPriv == 0){%>
                <a class="join" data-teamId=<%=value.teamId%> href="javascript:void(0);">申请加入</a>&nbsp;|&nbsp;<a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
              <%}%>
              <%if(value.operPriv == 1){%>
                <span class="li_5_span">申请中</span>&nbsp;|&nbsp;<a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
              <%}%>
              <%if(value.operPriv == 2){%>
                <span class="li_5_span">已加入</span>&nbsp;|&nbsp;<a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
              <%}%>
              <%if(value.operPriv == 3){%>
                <span class="li_5_span">已满员</span>&nbsp;|&nbsp;<a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
              <%}%>
              <%if(value.operPriv == 4){%>
                <a class="look" data-leaderId=<%=value.leaderUid%> href="javascript:void(0);">查看</a>
              <%}%>
            </span>
          </li>
        <%}%>
  </script>

  <script src="../hzls/js/jquery.page.js"></script>
  <script src="../hzls/js/ejs.min.js"></script>
  <script src="../hzls/js/index.js"></script>
  <!-- footer -->
  <script src="http://assets.dwstatic.com/amkit/p/duya/live2/js/footer.js" data-fixed="true"></script>
</body>
</html>